.searchar_container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.searchar_container > input {
    flex: 1;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
}

.searchar_container > button {
    width: 80px;
    border-radius: 5px;
    border: none;
    background-color: #0070f3;
    color: white;
    cursor: pointer;
}